<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="app.css">
    <title>SignUp</title>
</head>
<body>
    <div class="login-form-container active">
        <form action="/signup" method="post">
            <h3>SignUp</h3>
                <input type="text" class="box" id="name" name="username" placeholder="Enter your username..." required autocomplete="off"> 
                <input type="password" class="box" name="password" id="password" placeholder="password" required>
                <button type="submit" class="btn" >SignUp</button>
        </form>
    </div> 

</body>
</html>